{% extends "layout.html" %} {% load static %} {% load encoders %}
<!-- -->
{% block title %}Words | {{word.in_sinhala}} ({{ word.in_english }})
{%endblock%}
<!---->
{% block scripts %}
<style>
  .hide {
    display: none !important;
  }
</style>
{% endblock %}
<!---->
{% block content %}
{% if user|has_group:'Tester' or user.is_superuser %}
<div class="ui centered stackable two column internally celled grid">
  <div class="twelve wide column">
    <div class="ui search selection dropdown" id="filter-dropdown" style="position: absolute; right: 10px">
      <input type="hidden" name="search-filter-dropdown" id="search-filter-dropdown" />
      <div class="default text">Select Filter</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item selected" data-value="all">ALL</div>
        <div class="item" data-value="approved">Approved</div>
        <div class="item" data-value="rejected">Rejected</div>
        <div class="item" data-value="pending">Pending</div>
      </div>
    </div>
    {% if empty %}
    <div class="ui centered middle aligned grid">
      <div style="margin-top: 25px">
        <img style="height: 350px" src="{% static 'nodata.png' %}" />
        <h3 class="ui inverted header">
          No Recorded Streams for
          <span style="color: greenyellow">{{word.in_sinhala}} ({{word.in_english}})</span>
          Word
        </h3>
      </div>
    </div>
    {% else %}
    <h2 class="ui header inverted left aligned" style="padding-left: 40px">
      Streams for
      <span style="color: greenyellow">{{word.in_sinhala}} ({{word.in_english}})</span>
      <!---->
      {% if word.category.name == None%} are
      <span style="color: lightcoral"> Not Categorized</span> {% else %} in
      <span style="color: greenyellow">{{word.category.name}}</span> Category
      <!---->
      {% endif %}
    </h2>
    <div class="ui link cards">
      {% for stream in streams %}
      <div class="card">
        <div class="image center aligned">
          {% if stream.pos_firebase != None %}
          <video width="280px" height="150px"
            src="https://firebasestorage.googleapis.com/v0/b/slrx-pro.appspot.com/o/{{ stream.pos_firebase | uriencode }}?alt=media&"
            controls></video>
          {%else%}
          <div style="
              width: 100%;
              height: 150px;
              background-color: black;
              border-radius: 2px;
            ">
            <img style="height: 100px; margin-top: 10px" src="{% static 'nodata.png' %}" />
            <h3 class="ui inverted header" style="margin-top: 5px">
              <div class="ui sub header">No Preview</div>
            </h3>
          </div>
          {% endif %}
        </div>
        <div class="content">
          <div class="header">
            SID: {{stream.pk}}
            <span class="meta right floated ui sub header" style="font-size: 12px">
              By: <span>{{stream.userId.username}}</span>
            </span>
          </div>
          <div class="meta">
            {% if stream.updated_at != None %}
            <!---->
            {{stream.updated_at | timesince }} ago
            <!---->
            {% else %} Not Recorded Yet
            <!---->
            {% endif %}
          </div>
          <div class="ui divider"></div>
          <div class="description">
            <h4 class="ui sub header" style="margin-top: 5px">Comments</h4>
            <div style="height: 30px; overflow-y: scroll">
              {{stream.comment}}
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two column grid">
            <div class="equal width row">
              <div class="ten wide column">
                <span class="left floated">
                  {% if stream.verified == True %}
                  <i class="check circle green icon"></i>
                  <span style="color: green">Accepted</span>
                  <!-- -->
                  {% elif stream.verified == False %}
                  <i class="times circle red icon"></i>
                  <span style="color: red">Rejected</span>
                  {% else %}
                  <i class="exclamation circle yellow icon"></i>
                  <span>Pending</span>
                  {% endif %}
                </span>
                <br />
                {% if stream.verified == False %}
                <div class="left floated" style="color: black">
                  <i class="info blue circle icon"></i>{{stream.reason}}
                </div>
                {% elif stream.verified %}
                <div class="left floated" style="color: black">
                  <i class="info user circle icon"></i>{{stream.verified_by.username}}
                </div>
                {% endif %}
              </div>
              <div class="six wide column">
                {% if user|has_group:'Tester' or user.is_superuser %}
                <div class="right floated">
                  <button class="ui tiny blue button" onclick="showModel({pk: '{{stream.pk}}', })">
                    INSPECT
                  </button>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="four wide column">
    <form class="ui large form" method="POST" id="{{word.pk}}" onsubmit="update_word(this.id)">
      {% csrf_token %}
      <div class="ui inverted raised segment">
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Word ID</div>
          </h5>
          <div class="ui action input">
            <input readonly id="word-id" type="text" name="Word ID" placeholder="Word ID" required
              value="{{ word.pk }}" />
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Word In Sinhala</div>
          </h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <input id="w_si" type="text" name="w_si" placeholder="Word In Sinhala" required
              value="{{ word.in_sinhala }}" />
            {% else %}
            <input readonly id="w_si" type="text" name="w_si" placeholder="Word In Sinhala" required
              value="{{ word.in_sinhala }}" />
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Word In English</div>
          </h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <input id="w_en" type="text" name="w_en" placeholder="Word In English" required
              value="{{ word.in_english }}" />
            {% else %}
            <input readonly id="w_en" type="text" name="w_en" placeholder="Word In English" required
              value="{{ word.in_english }}" />
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Word In Singlish</div>
          </h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <input id="w_se" type="text" name="w_se" placeholder="Word In Singlish" required
              value="{{ word.in_singlish }}" />
            {% else %}
            <input readonly id="w_se" type="text" name="w_se" placeholder="Word In Singlish" required
              value="{{ word.in_singlish }}" />
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Category</div>
          </h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <div class="ui search fluid selection dropdown" id="category-dropdown">
              {% if word.category != None%}
              <input type="hidden" name="category" id="category" value="{{word.category.pk}}" />
              {% else %}
              <input type="hidden" name="category" id="category" value="None" />
              {% endif %}
              <div class="default text">Select Category</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {% for category in categories %}
                <div class="item" data-value="{{category.pk}}">
                  {{category.name}}
                </div>
                {% endfor %}
                <div class="item" data-value="None">Not Categorized</div>
              </div>
            </div>
            {% else %}
            <input readonly id="category" type="text" name="category" placeholder="Category"
              value="{{ word.category }}" />
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Created By</div>
          </h5>
          <div class="ui action input">
            <input readonly id="created-by" type="text" name="Created By" placeholder="Created By" required
              value="{{ word.created_by }}" />
          </div>
        </div>
        <div class="field">
          <h5>
            <div class="ui inverted sub header">Last Edit By</div>
          </h5>
          <div class="ui action input">
            <input readonly id="last-edit-by" type="text" name="Last Edit By" placeholder="Last Edit By" required
              value="{{ word.last_edit_by }}" />
          </div>
        </div>
        <div class="field">
          <div class="ui message" id="log" style="display: none"></div>
        </div>
      </div>
      {% if user|has_group:'Tester' or user.is_superuser %}
      <div class="field">
        <button class="ui inverted button right floated" type="submit">
          UPDATE
        </button>
      </div>
      {% endif %}
    </form>
  </div>
</div>
<div class="ui modal">
  <div id="dimmer" class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <div id="model-title" class="header"></div>
  <div id="model-error-body" class="hide">
    <div class="ui negative message">
      <div class="header">Something Went Wrong...</div>
      <p id="err-desc"></p>
    </div>
  </div>
  <div id="model-success-body" class="ui two column divided grid">
    <div class="stretched row">
      <div class="column">
        <div class="ui basic segment">
          <div class="image content">
            <div class="ui medium image">
              <video width="400px" height="300px" id="model-prev" controls></video>
            </div>
          </div>
          <div id="msg" class="ui message transition hidden">
            <i class="close icon" onclick="$('#msg').addClass('hidden')"></i>
            <div id="msg-title" class="header"></div>
            <p id="msg-desc"></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui basic segment">
          <div class="description">
            <p><b>StreamID: </b><span id="model-pk"></span></p>
            <p><b>Recorded By: </b><span id="model-user"></span></p>
            <p><b>Recorded: </b><span id="model-ts-cr"></span></p>
            <p><b>Updated: </b><span id="model-ts-up"></span></p>
            <div class="ui divider"></div>
            <div class="ui form">
              <p><b>Reviewed By: </b><span id="model-rev"></span></p>
              <div class="inline fields">
                <label>Verification: </label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input id="accept-r" type="radio" name="valid" onclick="setDisable(true)" value="accepted" />
                    <label style="width: 75px">Accept</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input id="reject-r" type="radio" name="valid" onclick="setDisable(false)" value="rejected" />
                    <label>Reject</label>
                  </div>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 75px">Reason: </label>
                <div class="field">
                  <select id="model-select" class="ui disabled search dropdown">
                    <option value="Not Clear">Not Clear</option>
                    <option value="Sign Invalid">Sign Invalid</option>
                    <option value="Other">Other Reasons</option>
                  </select>
                </div>
              </div>
              <div class="inline fields">
                <label style="width: 75px">Comment: </label>
                <div class="field">
                  <div id="model-input" class="ui disabled input">
                    <textarea id="model-input-i" type="text" placeholder="Comments" rows="2"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions" style="margin-bottom: 10px">
    <div class="ui black deny button">Close</div>
    <button id="save-btn" class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>
{% else %}
<div style="width: 100%;height: 100%;">
  <img style="height: 25rem; margin-top: 10px" src="{% static 'nodata.png' %}" />
  <h3 class="ui inverted header" style="margin-top: 5px">
    <div class="ui sub header">Sorry Nothing to see here!</div>
  </h3>
</div>
{% endif %}

<script>
  let updated = false;

  const params = new URLSearchParams(window.location.search);

  const filter = params.get("filter");

  if (filter !== null) $("#search-filter-dropdown").val(filter);

  function not_empty(value) {
    return value !== null && value !== undefined && value !== "";
  }

  function empty(value) {
    return value === null || value === undefined || value === "";
  }

  function update_word(pk) {
    const data = {
      si: $("#w_si").val(),
      en: $("#w_en").val(),
      se: $("#w_se").val(),
      category: $("#category").val() == "None" ? null : $("#category").val(),
    };
    if (not_empty(data.si) && not_empty(data.en) && not_empty(data.se)) {
      const csrftoken = Cookies.get("csrftoken");
      fetch(`../update/${pk}`, {
          method: "PUT",
          body: JSON.stringify(data),
          headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json",
          },
        })
        .then((response) =>
          response.json().then((res, error1) => {
            if (error1) {
              log(error1, "error");
            } else {
              log(res.msg, res.type);
              window.location.reload();
            }
          })
        )
        .catch((error2) => {
          log(error2, "error");
        });
    } else {
      log("Name or Description can't be empty", "error");
    }
  }

  function log(msg, type = null) {
    $("#log").html(`<p>${msg}</p>`);
    $("#log").css("display", "block");
    if (type == "success") {
      $("#log").addClass("green");
    } else if (type == "error") {
      $("#log").addClass("red");
    } else if (type == "warning") {
      $("#log").addClass("yellow");
    }
  }

  $("#category-dropdown").dropdown({
    clearable: true,
  });

  $("#filter-dropdown").dropdown({
    clearable: true,
  });

  function showModel(content) {
    updated = false;
    $("#success-msg").addClass("hidden");
    $("#error-msg").addClass("hidden");
    const csrftoken = Cookies.get("csrftoken");
    $(".ui.modal")
      .modal({
        onShow: function () {
          fetch(`/streams/get/${content.pk}`, {
              method: "get",
              headers: {
                "X-CSRFToken": csrftoken,
                "Content-Type": "application/json",
              },
            })
            .then((response) =>
              response.json().then((res, error) => {
                $("#dimmer").removeClass("active");
                if (error) {
                  $("#save-btn").addClass("hide");
                  $("#model-title").html("Error!");
                  $("#model-title").addClass("ui red");
                  $("#err-desc").html(error.toString());
                  $("#model-success-body").addClass("hide");
                  $("#model-error-body").removeClass("hide");
                } else {
                  $("#model-title").removeClass("ui red");
                  if (res.success === true) {
                    $("#model-title").html(
                      `${res.data.word.sin} | ${res.data.word.eng} | ${res.data.word.sie}`
                    );
                    $("#model-prev").attr("src", res.data.src);
                    $("#model-pk").html(res.data.pk);
                    $("#model-user").html(res.data.user.name);
                    $("#model-ts-cr").html(new Date(res.data.ts.created));
                    $("#model-ts-up").html(new Date(res.data.ts.updated));
                    $("#model-rev").html(
                      res.data.verification.verified_by.name === null ?
                      "None" :
                      res.data.verification.verified_by.name
                    );
                    $("#model-input-i").val(res.data.comment);
                    $("#model-select").val(res.data.verification.reason);
                    if (res.data.verification.verified === true)
                      $("#accept-r").prop("checked", true);
                    else if (res.data.verification.verified === false) {
                      $("#reject-r").prop("checked", true);
                    } else {
                      $("#accept-r").prop("checked", false);
                      $("#reject-r").prop("checked", false);
                    }
                  } else {
                    $("#save-btn").addClass("hide");
                    $("#model-title").html("Error!");
                    $("#model-title").addClass("ui red");
                    $("#err-desc").html(res.msg);
                    $("#model-success-body").addClass("hide");
                    $("#model-error-body").removeClass("hide");
                  }
                }
              })
            )
            .catch((error) => {
              $("#save-btn").addClass("hide");
              $("#model-title").html("Error!");
              $("#model-title").addClass("ui red");
              $("#err-desc").html(error.toString());
              $("#model-success-body").addClass("hide");
              $("#model-error-body").removeClass("hide");
            });
        },
        onApprove: function () {
          $("#dimmer").addClass("active");
          let verify =
            $('input[name="valid"]:checked').val() === undefined ?
            null :
            $('input[name="valid"]:checked').val();
          let reason = $("#model-select").val();
          let comment = $("#model-input-i").val();

          fetch(`/streams/verify/${content.pk}`, {
              method: "post",
              body: JSON.stringify({
                verify: verify,
                reason: reason,
                comment: comment,
              }),
              headers: {
                "X-CSRFToken": csrftoken,
                "Content-Type": "application/json",
              },
            })
            .then((response) =>
              response.json().then((res, error) => {
                if (error) {
                  $("#msg").addClass("red");
                  $("#msg").removeClass("green");
                  $("#msg-title").html(`ERROR`);
                  $("#msg-desc").html(
                    `<code><b>${error.toString()}</b></code> (SID : ${
                      content.pk
                    })`
                  );
                  $("#msg").removeClass("hidden");
                } else {
                  if (res.success) {
                    $("#msg").addClass("green");
                    $("#msg").removeClass("red");
                    $("#msg-title").html(`SUCCESS`);
                    $("#msg-desc").html(
                      `<code><b>${res.msg}</b></code> (SID : ${content.pk})`
                    );
                    $("#msg").removeClass("hidden");
                    if (verify == "accepted") {
                      $(`#tb-stu-${content.pk}`).html(
                        '<i class="check circle green icon"></i>Accepted'
                      );
                    } else if (verify == "rejected") {
                      $(`#tb-stu-${content.pk}`).html(
                        '<i class="times circle red icon"></i>Rejected'
                      );
                    }
                    updated = true;
                  } else {
                    $("#msg").addClass("red");
                    $("#msg").removeClass("green");
                    $("#msg-title").html(`ERROR `);
                    $("#msg-desc").html(
                      `<code><b>${res.msg}</b></code> (SID : ${content.pk})`
                    );
                    $("#msg").removeClass("hidden");
                  }
                }
                $("#dimmer").removeClass("active");
              })
            )
            .catch((error) => {
              $("#msg").addClass("red");
              $("#msg-title").html(`ERROR`);
              $("#msg-desc").html(
                `<code><b>${error.toString()}</b></code> (SID : ${content.pk})`
              );
              $("#msg").removeClass("hidden");
              $("#dimmer").removeClass("active");
            });
          return false;
        },
        onDeny: function () {
          $("#dimmer").addClass("active");
          if (updated) window.location.reload();
          return true;
        },
        closable: false,
      })
      .modal("show");
  }

  function setDisable(value) {
    if (value) $("#model-select, #model-input").addClass("disabled");
    else $("#model-select, #model-input").removeClass("disabled");
  }

  $("#search-filter-dropdown").change(() => {
    const filter_dropdown = $("#search-filter-dropdown").val();
    do_filter(filter_dropdown);
  });

  function do_filter(type) {
    window.location.href = `${window.location.origin}${window.location.pathname}?filter=${type}`;
  }
</script>
{% endblock %}