{% extends 'layout.html' %} {% load tz %}
<!--- -->
{% block title %} Words{% endblock %}
<!--- -->
{% block scripts%} {%endblock%}
<!--- -->
{% block content %}
<div class="ui stackable one column grid">
  <div class="column">
    {% csrf_token %}
    <div class="ui inverted raised segment">
      <h1 class="ui header">Word List</h1>
      <div class="ui inverted divider"></div>

      {% if empty == True %}
      <h1 class="ui header">No Words To Show</h1>
      <a
        href="{% url 'add_new_words' %}"
        class="ui small inverted labeled icon button"
      >
        <i class="database icon"></i> Add New Words
      </a>
      {% else %}
      <div class="ui container">
        <table class="ui inverted center celled structured table">
          <thead class="center aligned">
            <tr>
              <th rowspan="2">#</th>

              <th colspan="4">Word</th>
              <th rowspan="2">Records</th>
              <th rowspan="2">Created By</th>
              <th rowspan="2">Created</th>
              <th rowspan="2">Delete</th>
            </tr>
            <tr>
              <th>Id</th>
              <th>In Sinhala</th>
              <th>In English</th>
              <th>In Singlish</th>
            </tr>
          </thead>
          <tbody class="center aligned">
            <!--- -->
            {% for word in words %}
            <tr>
              <td class="collapsing">
                <!-- <div class="ui fitted slider checkbox">
                <input type="checkbox" /> <label></label>
              </div> -->
                {{forloop.counter}}
              </td>
              <td class="collapsing">{{word.pk}}</td>
              <td>{{word.in_sinhala}}</td>
              <td>{{word.in_english}}</td>
              <td>{{word.in_singlish}}</td>
              <td>{{word.recorde_count}}</td>
              <td>{{word.created_by}}</td>
              {% localtime on %}
              <td>{{ word.created_at| timesince }} ago</td>
              {% endlocaltime %}
              <td>
                <a href="{% url 'delete_word' word.pk %}"
                  ><i class="trash red icon"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <!--- -->
          <tfoot class="full-width">
            <tr>
              <th></th>
              <th colspan="8">
                <a href="{% url 'add_new_words' %}">
                  <button
                    class="ui right floated small inverted labeled icon button"
                  >
                    <i class="database icon"></i> Add New Words
                  </button>
                </a>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
