{% extends "layout.html" %}
<!--- -->
{% load tz %}
<!--- -->
{% load encoders %}
<!--- -->
{% block title %} Streams (table) {% endblock %}
<!--- -->
{% block content %}
<div class="ui stackable one column grid">
  <div class="column">
    {% csrf_token %}
    <div class="ui inverted raised segment">
      <div class="ui container">
        {% if user|has_group:"Validator" or user.is_superuser %}
        <div class="ui buttons" style="margin-bottom: 10px">
          <a class="ui labeled icon blue button" href="{% url 'streams_view'%}">
            <i class="sticky note icon"></i>
            CARD VIEW
          </a>
          <a
            class="ui right labeled icon green button"
            href="{% url 'stream_verification' %}"
          >
            VALIDATOR
            <i class="check circle icon"></i>
          </a>
        </div>
        {% else %}
        <div class="one ui buttons" style="margin-bottom: 10px">
          <a class="ui labeled icon blue button" href="{% url 'streams_view'%}">
            <i class="sticky note icon"></i>
            CARD VIEW
          </a>
        </div>
        {% endif %} {% if empty == True %}
        <h1 class="ui header">No Words To Show</h1>
        {% else %}
        <table class="ui inverted center celled structured table">
          <thead class="center aligned">
            <tr>
              <th rowspan="2">#</th>

              <th colspan="4">Word</th>
              <th colspan="6">Stream</th>
              <th rowspan="2">REC</th>
            </tr>
            <tr>
              <th>Id</th>
              <th>In Sinhala</th>
              <th>In English</th>
              <th>In Singlish</th>
              <th>Id</th>
              <th>Preview</th>
              <th>Done</th>
              <th>Verified</th>
              <th>@</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody class="center aligned">
            <!--- -->
            {% for d in data %}
            <tr>
              <td class="collapsing">{{forloop.counter}}</td>
              <td class="collapsing">{{d.w_info.pk}}</td>
              <td>{{d.w_info.in_sinhala}}</td>
              <td>{{d.w_info.in_english}}</td>
              <td>{{d.w_info.in_singlish}}</td>
              <td class="collapsing">
                {% if d.comp == True %}
                <!-- -->
                {{ d.s_info.pk }}
                <!-- -->
                {% else %} #
                <!-- -->
                {% endif %}
              </td>
              <td style="padding: 0">
                {% if d.comp == True %}
                <video
                  width="180px"
                  height="100px"
                  src="https://firebasestorage.googleapis.com/v0/b/drg-dc.appspot.com/o/{{ d.s_info.pos_firebase| uriencode }}?alt=media&"
                  controls
                ></video>
                {% else %} No Previews {% endif %}
              </td>
              <td class="collapsing">
                {% if d.comp == True %}
                <i class="check circle large green icon"></i>
                {% else %}
                <i class="times circle large red icon"></i>
                {% endif %}
              </td>
              <td class="collapsing">
                {% if d.comp == True and d.s_info.verified == True %}
                <i class="check circle large green icon"></i>
                {% elif d.comp == True and d.s_info.verified == None %}
                <i class="exclamation circle large yellow icon"></i>
                {% elif d.comp == True and d.s_info.verified == False %}
                <i class="times circle large red icon"></i>
                {% else %}
                <i class="minus circle large icon"></i>
                {% endif %}
              </td>
              {% localtime on %}
              <td>
                {% if d.comp == True %}
                <!-- -->
                {{ d.s_info.created_at| timesince }} ago
                <!-- -->
                {% else %} -
                <!-- -->
                {% endif %}
              </td>
              {% endlocaltime %}
              <td>
                {% if d.comp == True and d.s_info.verified == False %}
                <!---->
                Reason: {{ d.s_info.reason }} <br />Comment: {% endif %}
                {{d.s_info.comment}}
              </td>
              <td>
                {% if d.comp == True and d.s_info.verified != True %}
                <a
                  class="ui inverted tiny button"
                  href="{% url 'streams_rec_view' d.w_info.pk %}"
                  ><i class="redo icon"></i
                ></a>
                {% elif d.comp == False %}
                <a
                  class="ui inverted tiny button"
                  href="{% url 'streams_rec_view' d.w_info.pk %}"
                  ><i class="record icon"></i
                ></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <!--- -->
          <tfoot class="full-width">
            <tr style="padding-top: 10px">
              <th colspan="12">
                <div
                  id="task-progress"
                  class="ui indicating progress"
                  data-value="{{ done_count }}"
                  data-total="{{ total_count }}"
                >
                  <div class="bar">
                    <div class="progress"></div>
                  </div>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  $("#task-progress").progress({
    duration: 200,
    label: "ratio",
    total: "{{ all_count }}",
    value: "{{ done_count }}",
    text: {
      success: "Completed!",
    },
  });
</script>
{% endblock %}
