{% extends "layout.html" %} {% load static %} {%block scripts %}
<script src="{% static 'js/main.js' %}"></script>

{% endblock %} {% block title %} Capture{% endblock %} {% block content %}
<!-- <div class="ui pointing green inverted menu">
  <a class="item" href="{% url 'home_view'%}"> Home </a>
  <a class="item active" href="{% url 'streams_view'%}"> Streams </a>
  <a class="item"> Clusters </a>
  <a class="item" href="{% url 'words_view'%}"> Words </a>
  <div class="right menu">
    <a class="ui item" href="{% url 'logout' %}"
      ><i class="logout icon"></i> Logout
    </a>
  </div>
</div> -->

<!-- {% if user.is_authenticated %}
<p>Logged</p>
{% else %}
<p>Not logged</p>
{% endif %} -->
<div class="ui three column doubling stackable center divided grid">
  <div class="stretched row">
    <div class="three wide column">
      <div class="ui segment">
        <div
          id="task-progress"
          class="ui indicating progress"
          data-value="1"
          data-total="200"
        >
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">...</div>
        </div>
        <div class="ui horizontal divider">Progress</div>
        <div class="ui header center aligned huge">Work</div>
        <div class="ui horizontal divider">Word to Show</div>
        <button id="toggle-rec-btn" class="ui red button fluid">
          <i class="ui record icon"></i>Record
        </button>
        <div class="ui horizontal divider">Rec. Actions</div>
        <div
          class="ui segment left aligned"
          style="height: 300px; max-height: 300px; overflow-y: auto"
        >
          <div class="ui header center aligned fixed">Log</div>
          <div id="log"></div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <video
        id="preview"
        width="100%"
        height="auto"
        autoplay
        muted
        style="background-color: black"
      ></video>
    </div>
    <div class="three wide column">
      <div class="ui segment">
        <video
          id="last-recorded"
          width="100%"
          height="140px"
          controls
          style="background-color: black"
        ></video>
        <div class="ui horizontal divider">Last Recording</div>
        <div class="ui circular segment">
          <div class="ui statistic">
            <div class="value">
              <i class="clock icon"></i>
              <span id="timer" class="ui header">5</span>
            </div>
            <div class="label">Seconds</div>
          </div>
        </div>
        <div class="ui horizontal divider">Countdown</div>
        <div>
          <div class="ui buttons fluid">
            <button id="back-btn" class="ui red button">
              <i class="ui left arrow icon"></i>Back
            </button>
            <div class="or"></div>
            <button id="next-btn" class="ui positive button">
              Next <i class="ui right arrow icon"></i>
            </button>
          </div>
        </div>
        <div class="ui horizontal divider">Actions</div>
      </div>
    </div>
  </div>
</div>

<script>
  let preview = document.getElementById("preview");
  let lastRecorded = document.getElementById("last-recorded");
  let toggleRecButton = document.getElementById("toggle-rec-btn");
  let logElement = document.getElementById("log");

  let nextButton = document.getElementById("next-btn");
  let backButton = document.getElementById("back-btn");

  let recordingTimeMS = 5000;
  let recordedBlob = null;

  function updateProgress(action = "inc") {
    let $progress = $("#task-progress"),
      $button = $(this),
      updateEvent;
    if (action === "inc") {
      $progress.progress("increment");
    } else if (action === "dec") {
      $progress.progress("decrement");
    } else {
      log("progress update action not matched");
    }
  }

  $("#task-progress").progress({
    duration: 200,
    total: 50,
    text: {
      active: "{value} of {total} done",
    },
  });

  function log(msg) {
    let txt = `<p>${getTime()} >> ` + msg + "</p>";
    txt += logElement.innerHTML;
    logElement.innerHTML = txt;
  }

  function countdown(lengthInMS, delayPerIntervalInMS, countdownId) {
    return new Promise((resolve) => {
      window.stopPressed = false;
      window.countdownInterval = setInterval(function () {
        if (lengthInMS <= delayPerIntervalInMS || window.stopPressed) {
          clearInterval(window.countdownInterval);
          $(`#${countdownId}`).html(0);
          resolve();
        } else {
          lengthInMS -= delayPerIntervalInMS;
          $(`#${countdownId}`).html(lengthInMS / 1000);
        }
      }, delayPerIntervalInMS);
    });
  }

  function startRecording(stream, lengthInMS, delayPerIntervalInMS = 1000) {
    let recorder = new MediaRecorder(stream);
    let data = [];

    recorder.ondataavailable = (event) => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + lengthInMS / 1000 + " seconds...");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = (event) => reject(event.name);
    });

    let recorded = countdown(lengthInMS, delayPerIntervalInMS, "timer").then(
      () => {
        recorder.state == "recording" && recorder.stop();
        toggleRecButton.innerHTML = "<i class='ui record icon'></i>Record";
      }
    );

    return Promise.all([stopped, recorded]).then(() => data);
  }

  function stop(stream) {
    window.stopPressed = true;
    stream.getTracks().forEach((track) => track.stop());
  }

  toggleRecButton.addEventListener(
    "click",
    function () {
      if (toggleRecButton.innerText == "Record") {
        if (parseInt($("#timer").html()) !== recordingTimeMS / 1000)
          $("#timer").html(recordingTimeMS / 1000);
        toggleRecButton.innerHTML = "<i class='ui stop icon'></i>Stop";
        navigator.mediaDevices
          .getUserMedia({
            video: true,
            audio: false,
          })
          .then((stream) => {
            preview.srcObject = stream;
            preview.captureStream =
              preview.captureStream || preview.mozCaptureStream;
            return new Promise((resolve) => (preview.onplaying = resolve));
          })
          .then(() => startRecording(preview.captureStream(), recordingTimeMS))
          .then((recordedChunks) => {
            recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
            lastRecorded.src = URL.createObjectURL(recordedBlob);
            log(
              "successfully recorded " +
                recordedBlob.size +
                " bytes of " +
                recordedBlob.type +
                " media."
            );
          })
          .catch(log);
      } else {
        stop(preview.srcObject);
        toggleRecButton.innerHTML = "<i class='ui record icon'></i>Record";
      }
    },
    false
  );

  nextButton.addEventListener(
    "click",
    function () {
      updateProgress("inc");
    },
    false
  );

  backButton.addEventListener(
    "click",
    function () {
      updateProgress("dec");
    },
    false
  );
  //   function sendData(data) {
  //     const csrftoken = Cookies.get("csrftoken");
  //     let response = fetch("/streams/sub/", {
  //       method: "post",
  //       body: data,
  //       headers: { "X-CSRFToken": csrftoken },
  //     });
  //   }

  //   btn.addEventListener("click", function () {
  //     // let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
  //     sendData(recordedBlob);
  //     console.log("sent");
  //   });
  //
</script>

{% endblock %}
