{% extends "layout.html" %}
<!--- -->
{% load tz %} {% load static %}
<!--- -->
{% load encoders %}
<!--- -->
{% block title %} Streams {% endblock %}
<!--- -->
{% block content %} {% if user|has_group:"Validator" or user.is_superuser %}
<div class="ui buttons" style="margin-bottom: 10px">
  <a class="ui labeled icon blue button" href="{% url 'streams_table_home'%}">
    <i class="table icon"></i>
    TABLE VIEW
  </a>
  <a
    class="ui right labeled icon green button"
    href="{% url 'stream_verification' %}"
  >
    VALIDATOR
    <i class="check circle icon"></i>
  </a>
</div>
{% else %}
<div class="one ui buttons" style="margin-bottom: 10px">
  <a class="ui labeled icon blue button" href="{% url 'streams_table_home'%}">
    <i class="table icon"></i>
    TABLE VIEW
  </a>
</div>
{% endif %}
<div class="ui centered stackable one column grid" style="margin-left: 6px">
  <div class="column">
    <div class="ui inverted raised segment">
      {% if empty %}
      <h1 class="ui header">No Words To Show</h1>
      {% else %}
      <div class="ui link cards">
        {% for d in data %}
        <div class="card">
          <div class="image center aligned">
            {% if d.s_info.pos_firebase != None %}
            <video
              width="280px"
              height="150px"
              src="https://firebasestorage.googleapis.com/v0/b/drg-dc.appspot.com/o/{{ d.s_info.pos_firebase | uriencode }}?alt=media&"
              controls
            ></video>
            {%else%}
            <div
              style="
                width: 100%;
                height: 150px;
                background-color: black;
                border-radius: 2px;
              "
            >
              <img
                style="height: 100px; margin-top: 10px"
                src="{% static 'nodata.png' %}"
              />
              <h3 class="ui inverted header" style="margin-top: 5px">
                <div class="ui sub header">No Preview</div>
              </h3>
            </div>
            {% endif %}
          </div>
          <div class="content">
            <div class="header">
              {{d.w_info.in_sinhala}} ({{d.w_info.in_english}})
              <span
                class="meta right floated ui sub header"
                style="font-size: 12px"
              >
                {% if d.w_info.category != None %}
                <a href="{% url 'category_each' d.w_info.category.name %}"
                  >{{d.w_info.category.name}}</a
                >
                {% endif %}
              </span>
            </div>
            <div class="meta">
              {% if d.s_info.updated_at != None %}
              <!---->
              {{d.s_info.updated_at | timesince }} ago
              <!---->
              {% else %} Not Recorded Yet
              <!---->
              {% endif %}
            </div>
            <div class="ui divider"></div>
            <div class="description">
              <h4 class="ui sub header" style="margin-top: 5px">Comments</h4>
              <div style="height: 30px; overflow-y: scroll">
                {{d.s_info.comment}}
              </div>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated">
              {% if d.comp == True and d.s_info.verified == True %}
              <i class="check circle green icon"></i>
              <span style="color: green">Accepted</span>
              <!-- -->
              {% elif d.comp == True and d.s_info.verified == None %}
              <i class="exclamation circle yellow icon"></i>
              <span>Pending</span>
              <!-- -->
              {% elif d.comp == True and d.s_info.verified == False %}
              <i class="times circle red icon"></i>
              <span style="color: red">Rejected</span>
              <!-- -->
              {% else %}
              <i class="minus circle icon"></i> <span>Not Recorded</span>
              <!-- -->
              {% endif %}
            </span>

            <span class="right floated">
              {% if d.comp == True and d.s_info.verified == True %}
              <a
                class="ui tiny red disabled button"
                href="{% url 'streams_rec_view' d.w_info.pk %}"
                >Re-Record</a
              >
              {% elif d.comp == True and d.s_info.verified == None %}
              <a
                class="ui tiny yellow button"
                href="{% url 'streams_rec_view' d.w_info.pk %}"
                >Re-Record</a
              >
              {% elif d.comp == True and d.s_info.verified == False %}
              <a
                class="ui tiny green button"
                href="{% url 'streams_rec_view' d.w_info.pk %}"
                >Re-Record</a
              >
              {% else %}
              <a
                class="ui tiny green button"
                href="{% url 'streams_rec_view' d.w_info.pk %}"
                >Record</a
              >
              {% endif %}
            </span>
            <br />
            {% if d.comp == True and d.s_info.verified == False %}
            <div class="left floated" style="color: black">
              <i class="info blue circle icon"></i>{{d.s_info.reason}}
            </div>
            {% endif %} {% if d.comp == True and d.s_info.verified == True %}
            <div class="left floated" style="color: black">
              <i class="info blue user circle icon"></i>
              {{d.s_info.verified_by.username}}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
