{% extends "layout.html" %}<!--- -->
{% load static %}<!--- -->
<!--- -->
{% load encoders %}
<!--- -->
{%block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}<!--- -->
{% block title %} Capture {{ e_word }}{% endblock %}
<!--- -->
{% block content %}
<div class="ui inverted three column doubling stackable center divided grid">
  <div class="stretched row">
    <div class="three wide column">
      <div class="ui inverted segment">
        <div class="ui segment">
          <div class="ui header center aligned large">
            {{ curr_word.in_sinhala }}
            <div class="ui inverted divider"></div>
            <span id="word-in-english" class="ui sub header">
              {{ curr_word.in_english }} </span
            ><span class="ui sub header">{{ curr_word.in_singlish }}</span>
          </div>
        </div>
        <div class="ui inverted horizontal divider">Word to Show</div>
        <button id="toggle-rec-btn" class="ui inverted red button fluid">
          <i class="ui record icon"></i>Record
        </button>
        <div class="ui inverted divider"></div>
        <div
          class="ui segment left aligned"
          style="height: 250px; max-height: 250px; overflow-y: auto"
        >
          <div class="ui header center aligned fixed">Log</div>
          <div class="ui relaxed divided list" id="log"></div>
        </div>
        <div class="ui inverted segment">
          <div
            class="ui right labeled input"
            style="position: absolute; left: 0px"
          >
            <input
              type="number"
              placeholder="End time..."
              style="width: 75%"
              id="end-time"
              min="0"
              max="120"
            />
            <div class="ui basic label">seconds</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <video
        id="preview"
        width="100%"
        height="auto"
        autoplay
        muted
        style="background-color: black"
      ></video>
    </div>
    <div class="three wide column">
      <div class="ui inverted segment">
        <div class="ui segment">
          <div
            id="task-progress"
            class="ui indicating progress"
            data-value="{{ done_count }}"
            data-total="{{ total_count }}"
          >
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Not Yet Started</div>
          </div>
        </div>
        <div class="ui inverted horizontal divider">Progress</div>
        {% if curr_stream == None %}
        <video
          id="last-recorded"
          width="100%"
          height="140px"
          controls
          style="background-color: black"
        ></video>
        {% else %}
        <video
          id="last-recorded"
          width="100%"
          height="140px"
          controls
          src="https://firebasestorage.googleapis.com/v0/b/drg-dc.appspot.com/o/{{ curr_stream.pos_firebase| uriencode }}?alt=media&"
          style="background-color: black"
        ></video>
        {% endif %}
        <div class="ui inverted horizontal divider">Last Recording</div>
        <div class="ui center aligned segment">
          <div class="ui statistic">
            <div class="value">
              <i class="clock icon"></i>
              <span id="timer" class="ui header">5</span>
            </div>
            <div class="label">Seconds</div>
          </div>
        </div>
        <div class="ui inverted horizontal divider">Countdown</div>
        <div>
          <div
            id="submit-btn"
            class="ui yellow inverted button fluid"
            style="margin-bottom: 5px"
          >
            <i class="save icon"> </i>
            Save Recording
          </div>
          <div class="ui buttons fluid">
            {% if prev_word == None %}
            <a id="back-btn" class="ui inverted button disabled" href="#">
              <i class="ui left arrow icon"></i>Back
            </a>
            {% else %}
            <button
              id="back-btn"
              class="ui inverted red button"
              onclick="navigationAction(`{% url 'streams_rec_view' prev_word.in_english %}`)"
            >
              <i class="ui left arrow icon"></i>Back
            </button>
            {% endif %}
            <div class="or"></div>
            {% if next_word == None %}
            <button id="next-btn" class="ui inverted disabled button">
              Next <i class="ui right arrow icon"></i>
            </button>
            {% else %}
            <button
              id="next-btn"
              class="ui inverted green button"
              onclick="navigationAction(`{% url 'streams_rec_view' next_word.in_english %}`)"
            >
              Next <i class="ui right arrow icon"></i>
            </button>
            {% endif %}
          </div>
          <p id="next-word-hidden" style="display: none !important">
            {{ next_word.in_english }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui mini modal" id="model-conf">
    <i class="close icon"></i>
    <div class="header">Attention!</div>
    <div class="content">
      <div class="description">
        <div class="ui header">Discard recording?</div>
        <p>
          Not submited recordings are going to destroy and can't recover again .
          click <b>cancel</b> to close this and click <b>submit</b> to submit
          recording to server.
        </p>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">Cancel</div>
      <div class="ui red approve right labeled icon button">
        Discard and Proceed
        <i class="exclamation mark icon"></i>
      </div>
    </div>
  </div>
</div>

<script>
  let preview = document.getElementById("preview");
  let lastRecorded = document.getElementById("last-recorded");
  let toggleRecButton = document.getElementById("toggle-rec-btn");
  let logElement = document.getElementById("log");

  let submitButton = document.getElementById("submit-btn");

  let recordingTimeMS = Number(localStorage.getItem("recordingTimeMS"))
    ? Number(localStorage.getItem("recordingTimeMS"))
    : 5000;
  recordingTimeMS =
    recordingTimeMS < 0
      ? 0
      : recordingTimeMS > 7200 * 1000
      ? 7200 * 1000
      : recordingTimeMS;

  let recordedBlob = null;

  $("#end-time").val(recordingTimeMS / 1000);
  $("#timer").html(recordingTimeMS / 1000);

  function updateProgress(action = "inc") {
    let $progress = $("#task-progress"),
      $button = $(this),
      updateEvent;
    if (action === "inc") {
      $progress.progress("increment");
    } else if (action === "dec") {
      $progress.progress("decrement");
    } else {
      log("progress update action not matched", "warning");
    }
  }

  $("#task-progress").progress({
    duration: 200,
    total: "{{ all_count }}",
    value: "{{ done_count }}",
    text: {
      active: "{value} out of {total} done",
      success: "Completed!",
    },
  });

  function log(msg, type = "") {
    let txt = `<div class="item">
            ${
              type == "error"
                ? '<i class="times circle middle aligned red icon"></i>'
                : type == "success"
                ? ' <i class="check circle middle aligned green icon"></i>'
                : type == "info"
                ? '<i class="info circle middle aligned blue icon"></i>'
                : type == "warning"
                ? '<i class="exclamation circle middle aligned yellow icon"></i>'
                : '<i class="dot circle middle aligned black icon"></i>'
            }
            <div class="content">
              <div class="description">${
                msg.charAt(0).toUpperCase() + msg.slice(1)
              }</div>
              ${getTime()}
            </div>
          </div>`;
    txt += logElement.innerHTML;
    logElement.innerHTML = txt;
  }

  function countdown(lengthInMS, delayPerIntervalInMS, countdownId) {
    return new Promise((resolve) => {
      window.stopPressed = false;
      window.countdownInterval = setInterval(function () {
        if (lengthInMS <= delayPerIntervalInMS || window.stopPressed) {
          clearInterval(window.countdownInterval);
          $(`#${countdownId}`).html(0);
          resolve();
        } else {
          lengthInMS -= delayPerIntervalInMS;
          $(`#${countdownId}`).html(lengthInMS / 1000);
        }
      }, delayPerIntervalInMS);
    });
  }

  function startRecording(stream, lengthInMS, delayPerIntervalInMS = 1000) {
    let recorder = new MediaRecorder(stream);
    let data = [];

    recorder.ondataavailable = (event) => data.push(event.data);
    recorder.start();
    log(recorder.state + " for " + lengthInMS / 1000 + " seconds...", "info");

    let stopped = new Promise((resolve, reject) => {
      recorder.onstop = resolve;
      recorder.onerror = (event) => reject(event.name);
    });

    let recorded = countdown(lengthInMS, delayPerIntervalInMS, "timer").then(
      () => {
        recorder.state == "recording" && recorder.stop();
        toggleRecButton.innerHTML = "<i class='ui record icon'></i>Record";
      }
    );

    return Promise.all([stopped, recorded]).then(() => data);
  }

  function stop(stream) {
    window.stopPressed = true;
    stream.getTracks().forEach((track) => track.stop());
  }

  toggleRecButton.addEventListener(
    "click",
    function () {
      if (toggleRecButton.innerText == "Record") {
        if (parseInt($("#timer").html()) !== recordingTimeMS / 1000)
          $("#timer").html(recordingTimeMS / 1000);
        toggleRecButton.innerHTML = "<i class='ui stop icon'></i>Stop";
        navigator.mediaDevices
          .getUserMedia({
            video: true,
            audio: false,
          })
          .then((stream) => {
            preview.srcObject = stream;
            preview.captureStream =
              preview.captureStream || preview.mozCaptureStream;
            return new Promise((resolve) => (preview.onplaying = resolve));
          })
          .then(() => startRecording(preview.captureStream(), recordingTimeMS))
          .then((recordedChunks) => {
            recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
            lastRecorded.src = URL.createObjectURL(recordedBlob);
            log(
              "successfully recorded " +
                recordedBlob.size +
                " bytes of " +
                recordedBlob.type +
                " media.",
              "success"
            );
          })
          .catch((e) => log(e, "error"));
      } else {
        stop(preview.srcObject);
        toggleRecButton.innerHTML = "<i class='ui record icon'></i>Record";
      }
    },
    false
  );

  function navigationAction(url) {
    if (recordedBlob !== null) {
      $("#model-conf")
        .modal({
          onApprove: function () {
            location.href = url;
          },
          onDeny: function () {},
        })
        .modal("show");
    } else {
      location.href = url;
    }
  }

  function sendData(data) {
    const csrftoken = Cookies.get("csrftoken");
    fetch(`/streams/submit/${window.location.pathname.split("/")[3]}/`, {
      method: "post",
      body: data,
      headers: {
        "X-CSRFToken": csrftoken,
        "Content-Type": "application/json",
      },
    })
      .then((response) =>
        response.json().then((res, error1) => {
          if (error1) {
            log(error1, "error");
          } else {
            log(res.msg, res.title);
            if (res.title === "success") recordedBlob = null;
          }
          submitButton.className = "ui yellow inverted button fluid";
        })
      )
      .catch((error2) => {
        log(error2, "error");
        submitButton.className = "ui yellow inverted button fluid";
      });
  }

  submitButton.addEventListener("click", function () {
    if (recordedBlob !== null) {
      submitButton.className = "ui loading yellow inverted button fluid";
      log("Recorded File Uploading...", "info");
      sendData(recordedBlob);
    } else {
      log(
        "nothing to upload. Press 'Record' button to start recording.",
        "warning"
      );
    }
  });

  $("#end-time").change(() => {
    const time_val = Number($("#end-time").val());
    if (time_val > 7200) {
      recordingTimeMS = 7200 * 1000;
      $("#end-time").val(recordingTimeMS / 1000);
    } else if (time_val < 0) recordingTimeMS = 0;
    else recordingTimeMS = time_val * 1000;
    localStorage.setItem("recordingTimeMS", recordingTimeMS);
    $("#timer").html(recordingTimeMS / 1000);
  });
</script>

{% endblock %}
