{% extends 'layout.html' %}
<!--- -->
{% block title %} Clusters {% endblock %}
<!--- -->
{% block scripts %}
<style>
  #centered-container {
    height: 90vh;
    width: 100%;
  }
  .box {
    width: 100%;
    height: 50px;
  }
</style>
{% endblock %}
<!--- -->
{% block content %}
<div id="centered-container" class="ui middle aligned grid">
  <div class="row">
    <div class="column">
      <div class="ui centered middle aligned grid">
        <div class="ui inverted statistics">
          <div class="statistic">
            <div class="value">{{ total_count }}</div>
            <div class="label">Total Recordings</div>
          </div>
          <div class="statistic">
            <div class="value">{{ verified_count }}</div>
            <div class="label">Verified Recordings</div>
          </div>
        </div>
      </div>
      <div class="ui centered middle aligned grid">
        <div class="box"></div>
        <div
          id="download-all-btn"
          class="ui yellow button"
          onclick="download_all('download-all-btn', 'all')"
        >
          <i class="exclamation triangle red icon"></i>DOWNLOAD EVERYTHING
        </div>
        <div
          id="download-verified-btn"
          class="ui green button"
          onclick="download_verified('download-verified-btn', 'verified')"
        >
          <i class="download icon"></i>DOWNLOAD VERIFIED
        </div>
      </div>
      <div class="ui centered middle aligned grid">
        <div class="box"></div>
        <p>
          Downloading files may take some time.<br />
          Because server need to pre-process and create zip file before download
        </p>
        <br />
      </div>
      <div class="ui centered middle aligned grid">
        <div class="box"></div>
        <p id="download-log"></p>
        <br />
      </div>
    </div>
  </div>
</div>

<script>
  function download_all(id) {
    $(`#download-all-btn`).addClass("disabled");
    $(`#download-verified-btn`).addClass("disabled");
    $(`#${id}`).addClass("loading");
    $(`#download-log`).text("Please wait, this may take while.");

    location.href = `{% url 'download_clusters' 'all' %}`;
    document.readyState = "loading";

    window.addEventListener("blur", function () {
      $(`#download-all-btn`).removeClass("disabled");
      $(`#download-verified-btn`).removeClass("disabled");
      $(`#${id}`).removeClass("loading");
      $(`#download-log`).text("Files Processed Successfully!");
    });
  }
  function download_verified(id) {
    $(`#download-all-btn`).addClass("disabled");
    $(`#download-verified-btn`).addClass("disabled");
    $(`#${id}`).addClass("loading");
    $(`#download-log`).text("Please wait, this may take while.");

    location.href = `{% url 'download_clusters' 'verified' %}`;
    document.readyState = "loading";

    window.addEventListener("blur", function () {
      $(`#download-all-btn`).removeClass("disabled");
      $(`#download-verified-btn`).removeClass("disabled");
      $(`#${id}`).removeClass("loading");
      $(`#download-log`).text("Files Processed Successfully!");
    });
  }
</script>

{% endblock %}
