{% extends "layout.html" %} {% load static %} {% load encoders %}
<!-- -->
{% block title %}Categories | {{ cat_data.name }}{% endblock %}
<!---->
{% block content %}

<div class="ui stackable two column internally celled grid">
  <div class="twelve wide column">
    {% if empty %}
    <div style="margin-top: 25px">
      <img style="height: 350px" src="{% static 'nodata.png' %}" />
      <h3 class="ui inverted header">
        No Words In
        <span style="color: greenyellow">{{cat_data.name}}</span> Category
      </h3>
    </div>
    {% else %}
    <h4 class="ui header inverted left aligned" style="padding-left: 40px">
      Words for
      <span style="color: greenyellow">{{cat_data.name}}</span> Category
    </h4>
    <div class="ui cards">
      {% for word in words %}
      <div class="ui card">
        <div class="content">
          <div class="center aligned header">{{word.in_sinhala}}</div>
          <div class="center aligned description">
            <table style="width: 100%" class="ui celled center aligned table">
              <thead>
                <th>ID</th>
                <th>English</th>
                <th>Singlish</th>
              </tr>
              <thead>
                <td>{{word.pk}}</td>
                <td>{{word.in_english}}</td>
                <td>{{word.in_singlish}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
            <div>
               
              <i class="ui black file video outline icon"></i>
              <b>Rec. Count:</b> {{word.recorde_count}}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="four wide column">
    <form
      class="ui large form"
      method="POST"
      id="{{cat_data.pk}}"
      onsubmit="update_cat(this.id)"
    >
      {% csrf_token %}
      <div class="ui inverted raised segment">
        <div class="field">
          <h5><div class="ui inverted sub header">Category ID</div></h5>
          <div class="ui action input">
            <input
              readonly
              id="cat-id"
              type="text"
              name="Category ID"
              placeholder="Category ID"
              required
              value="{{ cat_data.pk }}"
            />
          </div>
        </div>
        <div class="field">
          <h5><div class="ui inverted sub header">Category Name</div></h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <input
              id="name"
              type="text"
              name="name"
              placeholder="Name"
              required
              value="{{ cat_data.name }}"
            />
            {% else %}
            <input
              readonly
              id="name"
              type="text"
              name="name"
              placeholder="Name"
              required
              value="{{ cat_data.name }}"
            />
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5><div class="ui inverted sub header">Description</div></h5>
          <div class="ui action input">
            {% if user|has_group:'Tester' or user.is_superuser %}
            <textarea
              id="description"
              type="text"
              name="description"
              rows="5"
              placeholder="Description"
              required
            >
{{cat_data.description}}</textarea
            >
            {% else %}
            <textarea
              id="description"
              type="text"
              name="description"
              placeholder="Description"
              required
              readonly
              rows="5"
            >
{{cat_data.description}}</textarea
            >
            {% endif %}
          </div>
        </div>
        <div class="field">
          <h5><div class="ui inverted sub header">Created By</div></h5>
          <div class="ui action input">
            <input
              readonly
              id="created-by"
              type="text"
              name="Created By"
              placeholder="Created By"
              required
              value="{{ cat_data.created_by }}"
            />
          </div>
        </div>
        <div class="field">
          <h5><div class="ui inverted sub header">Last Edit By</div></h5>
          <div class="ui action input">
            <input
              readonly
              id="last-edit-by"
              type="text"
              name="Last Edit By"
              placeholder="Last Edit By"
              required
              value="{{ cat_data.last_edit_by }}"
            />
          </div>
        </div>
        <div class="field">
          <div class="ui message" id="log" style="display: none"></div>
        </div>
      </div>
      {% if user|has_group:'Tester' or user.is_superuser %}
      <div class="field">
        <button class="ui inverted button" type="submit">SAVE</button>
      </div>
      {% endif %}
    </form>
  </div>
</div>

<script>
  function update_cat(pk) {
    let data = {
      name: $("#name").val(),
      desc: $("#description").val(),
    };
    if (
      data.name !== null &&
      data.name !== undefined &&
      data.name !== "" &&
      data.desc !== null &&
      data.desc !== undefined &&
      data.desc !== ""
    ) {
      const csrftoken = Cookies.get("csrftoken");
      fetch(`update/${pk}`, {
        method: "update",
        body: JSON.stringify(data),
        headers: {
          "X-CSRFToken": csrftoken,
          "Content-Type": "application/json",
        },
      })
        .then((response) =>
          response.json().then((res, error1) => {
            if (error1) {
              log(error1, "error");
            } else {
              log(res.msg, res.type);
              window.location.reload();
            }
          })
        )
        .catch((error2) => {
          log(error2, "error");
        });
    } else {
      log("Name or Description can't be empty", "error");
    }
  }
  function log(msg, type = null) {
    $("#log").html(`<p>${msg}</p>`);
    $("#log").css("display", "block");
    if (type == "success") {
      $("#log").addClass("green");
    } else if (type == "error") {
      $("#log").addClass("red");
    } else if (type == "warning") {
      $("#log").addClass("yellow");
    }
  }
</script>
{% endblock %}
