<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style type="text/css">
      @media only screen and (max-width: 767px) {
        .box {
          position: relative;
          height: 0px;
          display: none !important;
        }
      }

      body {
        background-color: #312e2e;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }

      .box {
        position: relative;
        height: 70px;
      }

      .a {
        text-decoration: none;
        color: #16ab39;
      }
      .a:hover {
        color: darkgreen;
      }
      .errorlist {
        text-align: left;
      }
    </style>
    <script>
      $(document).ready(function () {
        $(".ui.form").form({
          fields: {
            username: {
              identifier: "username",
              rules: [
                {
                  type: "empty",
                  prompt: "Please enter a valid username",
                },
                {
                  type: "length[4]",
                  prompt: "Your username must be at least 4 characters",
                },
              ],
            },
            email: {
              identifier: "email",
              rules: [
                {
                  type: "empty",
                  prompt: "Please enter a valid username",
                },
                {
                  type: "email",
                  prompt: "Provide valid email address",
                },
              ],
            },
            password: {
              identifier: "password1",
              rules: [
                {
                  type: "empty",
                  prompt: "Please enter your password",
                },
                {
                  type: "length[8]",
                  prompt: "Your password must be at least 8 characters",
                },
              ],
            },
            password: {
              identifier: "password2",
              rules: [
                {
                  type: "empty",
                  prompt: "Please enter your password",
                },
                {
                  type: "length[8]",
                  prompt: "Your password must be at least 8 characters",
                },
              ],
            },
          },
        });
      });
    </script>
  </head>
  <body>
    <div class="ui center aligned container">
      <div class="ui middle aligned center aligned grid">
        <div class="column">
          <p class="box computer only" />
          <h2 class="ui green image header">
            <!-- <img
                src="Login%20Example%20-%20Semantic_files/logo.png"
                class="image"
              /> -->
            <div class="content">Register a New Account</div>
          </h2>
          <form class="ui large form" method="POST" action="">
            {% csrf_token %}
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input
                    id="id_username"
                    type="text"
                    name="username"
                    autofocus=""
                    autocapitalize="none"
                    placeholder="username"
                    autocomplete="username"
                    maxlength="150"
                  />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="mail icon"></i>
                  <input
                    id="id_email"
                    type="email"
                    name="email"
                    autofocus=""
                    autocapitalize="none"
                    placeholder="email"
                    autocomplete="email"
                    maxlength="254"
                  />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input
                    color="green"
                    id="id_password1"
                    type="password"
                    name="password1"
                    autocomplete="new-password"
                    placeholder="password1 (password)"
                  />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input
                    color="green"
                    id="id_password2"
                    type="password"
                    name="password2"
                    autocomplete="new-password"
                    placeholder="password2 (retype-password)"
                  />
                </div>
              </div>
              <input
                class="ui fluid large green submit button"
                type="submit"
                value="Register"
              />
            </div>

            <div class="ui error message"></div>
            {% if form.errors %}
            <div class="ui red message">
              <ul class="list">
                {% for key, value in form.errors.items %}

                <li><b>{{ key }}</b></li>
                {{value}} {% endfor %}
              </ul>
            </div>
            {% endif %} {% if messages %}
            <div class="ui green message">
              <ul class="list">
                {% for message in messages %}
                <li><b>{{ message }}</b></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </form>

          <div class="ui message">
            Already has account?
            <a href="/accounts/login/" class="a">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
