{% extends "layout.html" %} {% load static %} {% load encoders %}
<!-- -->
{% block title %} Categories {% endblock %}
<!-- -->
{%block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<style>
  .intro {
    text-align: right;
    position: relative;
    top: 8px;
    right: -15px;
    font-size: medium;
    font-weight: bold;
    font-family: Times New Roman !important;
  }

  .intro-l {
    text-align: left;
    position: relative;
    top: 8px;
    font-size: medium;
    font-weight: bold;
    font-family: Times New Roman !important;
  }

  .head {
    text-align: center;
    color: aliceblue !important;
    font-family: Times New Roman !important;
    text-transform: uppercase !important;
  }

  .head-2 {
    text-align: center;
    font-family: Times New Roman !important;
    text-transform: uppercase !important;
  }
  .save-btn-div {
    margin-top: 15px;
    text-align: right;
  }

  .send-btn-div {
    margin-top: 15px;
    text-align: center;
  }

  .save {
    text-transform: uppercase !important;
    font-family: Times New Roman !important;
  }
</style>
{% endblock %}<!--- -->
{% block content %}

<div class="ui large form" style="padding-bottom: 7px">
  <div class="ui internally celled grid">
    <div class="five wide column">
      <form
        style="margin-top: -25px"
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'user_info_update' %}"
      >
        {% csrf_token %}
        <h2 class="ui header head">User Info</h2>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              User ID <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  <input
                    readonly
                    id="uid"
                    type="text"
                    name="uid"
                    placeholder="User ID"
                    required
                    value="{{ data.user.pk }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              User Name <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  <input
                    readonly
                    id="username"
                    type="text"
                    name="username"
                    placeholder="User Name"
                    required
                    value="{{ data.user.username }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Email <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  <input
                    id="email"
                    type="email"
                    name="email"
                    placeholder="Email"
                    required
                    value="{{ data.user.email }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Mobile Number <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  <input
                    id="mobile-number"
                    type="text"
                    name="mobile_number"
                    placeholder="Mobile Number"
                    required
                    value="{{ data.mobile_number }}"
                    pattern="[0-9]{10}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              NIC <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  <input
                    id="nic"
                    type="text"
                    name="nic"
                    placeholder="National Identity Card Number"
                    required
                    value="{{ data.nic }}"
                    pattern="[0-9]{9}[v,x]{1}|[0-9]{12}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="save-btn-div">
          <input
            type="submit"
            class="ui green save button"
            value="Save User Info"
          />
        </div>
      </form>
      <div style="height: 15px; width: 100%"></div>
      <div class="row">
        <div class="ui two column grid">
          <div class="eight wide column">
            <div class="row">
              <div class="field">
                <div class="ui {{ data.email_verified|yesno:"green,red"}} segment">
                  <div class="ui read-only checkbox">
                    {% if data.email_verified %}
                    <input
                      type="checkbox"
                      name="email-verified"
                      checked
                      disabled
                    />
                    {% else %}
                    <input type="checkbox" name="email-verified" disabled />
                    {% endif %}
                    <label>Email Verified</label>
                    <div class="send-btn-div">
                      <div class="ui button save blue">Send Link</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="row">
              <div class="field">
                <div class="ui {{ data.email_verified|yesno:"green,red"}} segment">
                  <div class="ui read-only checkbox">
                    {% if data.mobile_number_verified %}
                    <input
                      type="checkbox"
                      name="mobile-number-verified"
                      checked
                      disabled
                    />
                    {% else %}
                    <input
                      type="checkbox"
                      name="mobile-number-verified"
                      disabled
                    />
                    {% endif %}
                    <label>Mobile Number Verified</label>
                    <div class="send-btn-div">
                      <div class="ui button save blue">Send SMS</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <h2 class="ui header head">Payment</h2>
      <div class="row">
        <div class="ui two column grid">
          <div class="eight wide column">
            <div class="row">
              <div class="ui stackable two column grid">
                <div class="ten wide column intro-l">
                  Eligable To Get Paid <i class="caret right icon"></i>
                </div>
                <div class="six wide column">
                  <div class="field">
                    <div class="ui fluid action input">
                      <input
                        style="color: red; font-weight: bold"
                        readonly
                        id="is-eligible-to-get-payed"
                        type="text"
                        name="is-eligible-to-get-payed"
                        placeholder="is-eligible-to-get-payed"
                        required
                        value="{{ data.is_eligible_to_get_payed }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="ui stackable two column grid">
                <div class="ten wide column intro-l">
                  Pay. Requested <i class="caret right icon"></i>
                </div>
                <div class="six wide column">
                  <div class="field">
                    <div class="ui fluid action input">
                      <input
                        style="color: red; font-weight: bold"
                        readonly
                        id="payment-requested"
                        type="text"
                        name="payment-requested"
                        placeholder="payment-requested"
                        required
                        value="{{ data.payment_requested }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="ui stackable two column grid">
                <div class="ten wide column intro-l">
                  Payment Done <i class="caret right icon"></i>
                </div>
                <div class="six wide column">
                  <div class="field">
                    <div class="ui fluid action input">
                      <input
                        style="color: red; font-weight: bold"
                        readonly
                        id="is-payment-done"
                        type="text"
                        name="is-payment-done"
                        placeholder="is-payment-done"
                        required
                        value="{{ data.is_payment_done }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="row">
              <div class="field">
                <div class="ui red segment">
                  <div class="field">
                    <div class="ui header">
                      <span class="sub header" style="font-weight: bold"
                        >Payment Request Status</span
                      >
                    </div>
                    <div class="ui fluid action input">
                      <input
                        style="font-weight: bold; text-align: center"
                        readonly
                        id="payment-request-status"
                        type="text"
                        name="payment-request-status"
                        placeholder="payment-request-status"
                        required
                        value="{{ data.payment_request_status }}"
                      />
                    </div>
                  </div>
                  <!-- prettier-ignore -->
                  {% if not data.payment_requested and not data.is_payment_done and data.is_eligible_to_get_payed %}
                  <!-- -->
                  <div class="send-btn-div">
                    <div class="ui button save blue">Request Payment</div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <form
        style="margin-top: -25px"
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'acc_info_update' %}"
      >
        {% csrf_token %}
        <h2 class="ui header head">Account Info</h2>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Acc. Holder <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  {% if data.payment_requested %}
                  <input
                    id="account-holder"
                    type="text"
                    name="account_holder"
                    placeholder="Account Holder's Name"
                    required
                    value="{{ data.account_holder }}"
                    disabled
                  />
                  {% else %}
                  <input
                    id="account-holder"
                    type="text"
                    name="account_holder"
                    placeholder="Account Holder's Name"
                    required
                    value="{{ data.account_holder }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Acc. Number <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  {% if data.payment_requested %}
                  <input
                    id="account-number"
                    type="text"
                    name="account_number"
                    placeholder="Account Number"
                    required
                    value="{{ data.account_number }}"
                    disabled
                  />
                  {% else %}
                  <input
                    id="account-number"
                    type="text"
                    name="account_number"
                    placeholder="Account Number"
                    required
                    value="{{ data.account_number }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Bank <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  {% if data.payment_requested %}
                  <input
                    id="account-bank"
                    type="text"
                    name="account_bank"
                    placeholder="Name of the Bank"
                    required
                    value="{{ data.account_bank }}"
                    disabled
                  />
                  {% else %}
                  <input
                    id="account-bank"
                    type="text"
                    name="account_bank"
                    placeholder="Name of the Bank"
                    required
                    value="{{ data.account_bank }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui stackable two column grid">
            <div class="five wide column intro">
              Branch <i class="caret right icon"></i>
            </div>
            <div class="eleven wide column">
              <div class="field">
                <div class="ui fluid action input">
                  {% if data.payment_requested %}
                  <input
                    id="branch"
                    type="text"
                    name="account_bank_branch"
                    placeholder="Branch of the Bank"
                    required
                    value="{{ data.account_bank_branch }}"
                    disabled
                  />
                  {% else %}
                  <input
                    id="branch"
                    type="text"
                    name="account_bank_branch"
                    placeholder="Branch of the Bank"
                    required
                    value="{{ data.account_bank_branch }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if data.payment_requested %}
        <div class="save-btn-div">
          <div class="ui black save disabled button">
            Payment Requested. Can't Change the Account Info
          </div>
        </div>
        {% else %}
        <div class="save-btn-div">
          <input
            type="submit"
            class="ui green save button"
            value="Save Account Info"
          />
        </div>
        {% endif %}
      </form>
      <div class="ui divider"></div>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="{% url 'user_notes_update' %}"
      >
        {% csrf_token %}
        <h2 class="ui header head">User Notes</h2>
        <div class="row">
          <div class="ui stackable one column grid">
            <div class="column">
              <div class="field">
                <div class="ui fluid action input">
                  {% if data.user_remarks == None %}
                  <textarea
                    id="user-notes"
                    type="text"
                    name="user_remarks"
                    rows="10"
                    placeholder="Type your note here..."
                    required
                  ></textarea>
                  {% else %}
                  <textarea
                    id="user-notes"
                    type="text"
                    name="user_remarks"
                    rows="10"
                    placeholder="Type your note here"
                  >
                    {{ data.user_remarks }}</textarea
                  >
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="save-btn-div">
          <input
            type="submit"
            class="ui green save button"
            value="Save Notes"
          />
        </div>
      </form>
    </div>
    <div class="six wide column">
      <h2 class="ui header head">Payment Proof</h2>
      <div class="row">
        <div class="ui segment">
          {% if data.payed_proof_img_link == None %}
          <div style="width: 100%; height: 350px">
            <i
              class="eye slash large icon"
              style="position: relative; top: 120px"
            ></i>
            <h2 class="ui header head-2" style="position: relative; top: 110px">
              Nothing to Show
              <span class="sub header">
                Payment proof will appear once payment was done
              </span>
            </h2>
          </div>
          {% else %}
          <img
            src="{{data.payed_proof_img_link}}"
            alt="Payment Proof"
            style="width: 100%; height: 350px"
          />
          {% endif %}
        </div>
      </div>
      <div class="ui divider"></div>
      <h2 class="ui header head">Admin Notes</h2>
      <div class="row">
        <div class="ui stackable one column grid">
          <div class="sixteen wide column">
            <div class="field">
              <div class="ui action input">
                {% if data.admin_remarks == None %}<textarea
                  readonly
                  id="admin-notes"
                  type="text"
                  name="admin-notes"
                  rows="9"
                  placeholder="Admin Notes Shows Here"
                  required
                >
No Admin Notes</textarea
                >
                {% else %}
                <textarea
                  readonly
                  id="admin-notes"
                  type="text"
                  name="admin-notes"
                  rows="9"
                  placeholder="Admin Notes Shows Here"
                  required
                >
{{data.admin_remarks}}</textarea
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
