{% extends 'layout.html' %}
<!---->
{% block title %} Forbidden {% endblock %}
<!---->
{% block scripts %}
<style>
  @media only screen and (max-width: 767px) {
    .box {
      position: relative;
      height: 0px;
      display: none !important;
    }
  }
  body > .grid {
    height: 100%;
  }

  .box {
    position: relative;
    height: 150px;
  }
</style>
{% endblock %} {% block content %}
<div class="ui inverted center aligned container">
  <p class="box computer only" />
  <div class="ui inverted middle aligned center aligned grid">
    <div class="column">
      <i class="ui frown massive icon"></i>
      <h1 class="ui center aligned inverted huge header">403 | Forbidden</h1>
      <p class="ui center aligned inverted sub header">
        You Don't have Permissions to access this content
      </p>
    </div>
  </div>
</div>
{% endblock %}
