{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'favicon.ico' %}"
      type="image/x-icon"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
      integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"
      integrity="sha256-pUYbeWfQ0TisH2PabhAZLCzI8qGOJop0mEWjbJBcZLQ="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script type="module">
      // Import the functions you need from the SDKs you need

      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-analytics.js";
      import {
        initializeAppCheck,
        ReCaptchaV3Provider,
      } from "https://www.gstatic.com/firebasejs/9.0.1/firebase-app-check.js";

      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyCsPygeKp1t7Cl0VqnAQ3BXuP1cA4WLgAU",
        authDomain: "drg-dc.firebaseapp.com",
        projectId: "drg-dc",
        storageBucket: "drg-dc.appspot.com",
        messagingSenderId: "650619972229",
        appId: "1:650619972229:web:a680907c070b99042cd7ec",
        measurementId: "G-0SEQX61XRW",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);

      const appCheck = initializeAppCheck(app, {
        provider: new ReCaptchaV3Provider(
          "6LeahEEcAAAAAD86nKmcP0VYe7q6Rh3bY-RwJ3WD"
        ),

        // Optional argument. If true, the SDK automatically refreshes App Check
        // tokens as needed.
        isTokenAutoRefreshEnabled: true,
      });

      const analytics = getAnalytics(app);
    </script>
    {% block head %}{% endblock %}
    <title>DSC | {% block title %} {% endblock %}</title>
  </head>
  <body class="ui inverted vertical masthead center aligned segment fluid">
    {% block body %}{% endblock %}
  </body>
</html>
