{% extends 'base.html' %} {% block body%} {% block head%}
<style>
  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 656px;
    padding: 0em 0;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  .ui.vertical.stripe {
    padding: 8em 0;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0;
  }

  .quote.stripe.segment {
    padding: 0;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
  }
</style>
<script>
  $(document).ready(function () {
    // create sidebar and attach to menu open
    $(".ui.sidebar").sidebar("attach events", ".toc.item");
  });
</script>
{% block scripts%} {% endblock %} {% endblock %}
<div>
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment fluid">
      <div class="ui fluid container">
        <div class="ui inverted large secondary pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
            <span
              >DGR.DC <i class="american sign language interpreting icon"></i
            ></span>
          </a>
          {% if request.path == "/" %}
          <a class="active item" href="{% url 'home_view'%}"
            ><i class="american sign language interpreting icon"></i>Home</a
          >
          {% else %}
          <a class="item" href="{% url 'home_view'%}"
            ><i class="american sign language interpreting icon"></i>Home</a
          >
          {% endif%} {% if "/streams/" in request.path %}
          <a class="active item" href="{% url 'streams_view'%}">Streams</a>
          {% else %}
          <a class="item" href="{% url 'streams_view'%}">Streams</a>
          {% endif%} {% if "/clusters/" in request.path %}
          <a class="active item" href="{% url 'clusters_view'%}">Clusters</a>
          {% else %}
          <a class="item" href="{% url 'clusters_view'%}">Clusters</a>
          {% endif%} {% if "/words/" in request.path %}
          <a class="active item" href="{% url 'words_view'%}">Words</a>
          {% else %}
          <a class="item" href="{% url 'words_view'%}">Words</a>
          {% endif%}
          <div class="right menu">
            {% if user.is_authenticated %}
            <a class="ui item" href="{% url 'logout' %}"
              ><i class="logout icon"></i> Logout
            </a>
            {% else %}
            <a class="ui item" href="{% url 'login' %}"
              ><i class="user icon"></i> Login
            </a>
            {% endif %}
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    {% if request.path == "/" %}
    <a class="active item" href="{% url 'home_view'%}">Home</a>
    {% else %}
    <a class="item" href="{% url 'home_view'%}">Home</a>
    {% endif%} {% if "/streams/" in request.path %}
    <a class="active item" href="{% url 'streams_view'%}">Streams</a>
    {% else %}
    <a class="item" href="{% url 'streams_view'%}">Streams</a>
    {% endif%} {% if "/clusters/" in request.path %}
    <a class="active item" href="{% url 'clusters_view'%}">Clusters</a>
    {% else %}
    <a class="item" href="{% url 'clusters_view'%}">Clusters</a>
    {% endif%} {% if "/words/" in request.path %}
    <a class="active item" href="{% url 'words_view'%}">Words</a>
    {% else %}
    <a class="item" href="{% url 'words_view'%}">Words</a>
    {% endif%} {% if user.is_authenticated %}
    <a class="ui item" href="{% url 'logout' %}"
      ><i class="logout icon"></i> Logout
    </a>
    {% else %}
    <a class="item">Login</a>
    <a class="item">Signup</a>
    {% endif %}
  </div>
  {% endblock %}
</div>
