{% extends 'layout.html' %} {% block content %}
<div class="ui left aligned grid" style="padding: 20px">
  <div class="column">
    <h1>Terms and Conditions</h1>
    <p>
      Welcome to DSC, a platform created to collect dynamic signs of Sri Lankan
      sign language for a research project. Our research focuses on a system
      that would detect and recognize dynamic signs in Sri Lankan Sign Language.
      On registration to this website, you are agreeing to be bound by the
      following terms and conditions of use and agree that you're responsible
      for the data you provide.
    </p>
    <ul>
      <li>Permission for webcam access</li>
      <li>Provide accurate Sri Lankan signs for given words</li>
      <li>Need to know signs for all the provided words</li>
      <li>The signs will be validated by a professional</li>
      <li>
        Once you complete recording all the signs provided, they will be
        verified and if all signs are correct you will be paid.
      </li>
      <li>
        If there are errors or incorrect signs, you will have to record again.
      </li>
    </ul>

    <h1>Privacy</h1>
    <ul>
      <li>
        The video recordings of signs will solely be used for academic purposes.
      </li>
      <li>
        The personal information we collect during registration will be used in
        the verification process and to contact during the payment process.
      </li>
      <li>
        We ensure that the data we collect will not be unprofessionally used.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
